header.navbar,
header.navbar mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000000;
  background-color: var(--mat-sys-primary-container);
  color: var(--mat-sys-primary);

  &.scrolled {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 1rem;
}
