<header
  [ngClass]="{ 'scrolled': $isScrolled() }"
  class="navbar"
>
  <div class="container">
    <mat-toolbar>
      <button
        #menuTrigger="matMenuTrigger"
        [matMenuTriggerFor]="menu"
        aria-label="Menü umschalten"
        mat-icon-button
        class="mobile-toggle"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <div class="mobile-menu">
        <mat-menu #menu="matMenu">
          @for (item of menuItems | slice: 1; track item.label) {
            <button
              [libScrollTo]="item.link"
              [ngClass]="item.styleClass"
              mat-menu-item
            >
              {{ item.label }}
            </button>
          }
        </mat-menu>

      </div>

      <div class="desktop-menu">
        @for (item of menuItems; track item.label) {
          <button
            [libScrollTo]="item.link"
            [ngClass]="item.styleClass"
            mat-button color="primary"
          >
            {{ item.label }}

            @if (item.icon) {
              <mat-icon>{{ item.icon }}</mat-icon>
            }
          </button>
        }
      </div>
      <span class="spacer"></span>
    </mat-toolbar>
  </div>
</header>
<mat-divider></mat-divider>
