<header
  class="navbar"
  [ngClass]="{ 'scrolled': $isScrolled() }"
>
  <div class="container">
    <mat-toolbar>
      <div class="example-button-row">

        @for (item of menuItems; track item.label) {
          <button
            [libScrollTo]="item.link"
            [ngClass]="item.styleClass"
            mat-button color="primary"
          >
            {{ item.label }}

            @if (item.icon) {
              <mat-icon>{{ item.icon }}</mat-icon>
            }
          </button>
        }

      </div>
      <span class="spacer"></span>
    </mat-toolbar>
  </div>
</header>
<mat-divider></mat-divider>
