<header
  [class]="{ 'scrolled': $isScrolled(), 'hidden': $sidenavOpened() }"
  class="navbar"
>
  <div class="container">
    <mat-toolbar>
      <button
        (click)="onToggleSidenav()"
        aria-label="Menü umschalten"
        class="mobile-toggle"
        mat-icon-button
      >
        <mat-icon>menu</mat-icon>
      </button>

      <div class="desktop-menu">
        @for (item of $menuItems(); track item.label) {
          <button
            [libScrollTo]="item.link"
            [class]="item.styleClass"
            mat-button color="primary"
          >
            {{ item.label }}

            @if (item.icon) {
              <mat-icon>{{ item.icon }}</mat-icon>
            }
          </button>
        }
      </div>
      <span class="spacer"></span>
    </mat-toolbar>
  </div>
</header>
<mat-divider></mat-divider>
