@use '../../../styles/breakpoints' as s;

header {
  &.hidden {
    display: none;
  }
}

header.navbar,
header.navbar mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: var(--mat-sys-primary-container);
  color: var(--mat-sys-primary);
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 1rem;
}

.mobile-toggle {
  display: none;
}

.mobile-menu {
  width: 100%;
  display: none;
  background-color: var(--mat-sys-primary-container);
}

@media (min-width: s.$breakpoint-sm) {
  .desktop-menu {
    display: flex;
  }
}

@media (max-width: s.$breakpoint-sm) {
  .desktop-menu {
    display: none;
  }

  .mobile-toggle {
    display: inline-flex;
    margin-left: auto;
  }
}

