@use '../../../styles.scss' as s;

header.navbar,
header.navbar mat-toolbar {
  background-color: var(--mat-sys-primary-container);
  color: var(--mat-sys-primary);
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 1rem;
}

.mobile-toggle {
  display: none;
}
.mobile-menu {
  width: 100%;
  display: none;
  background-color: var(--mat-sys-primary-container);
}

@media (min-width: s.$breakpoint-sm) {
  .desktop-menu {
    display: flex;
  }
}

@media (max-width: s.$breakpoint-sm) {
  .desktop-menu {
    display: none;
  }

  .mobile-toggle {
    display: inline-flex;
    margin-left: auto;
  }

  .mobile-menu {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1rem;
  }
}

