:host {
  position: relative;
  overflow: visible;

  .sidenav-social-links {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
  }

  button {
    &.logo {
      font-size: 1.3rem;
      font-weight: bold;
      margin-left: 0.2rem;
    }
  }
}





